<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeNeptun">
        <activity
            android:name=".activities.ExamsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GradesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ExamsManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GradesEntryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ClassesActivity"
            android:exported="false" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>